services:
    db:
        image: mysql:5.7
        container_name: mysql
        restart: always
        volumes:
            - ./db_data:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: toor
            MYSQL_DATABASE: mysqldb
            MYSQL_USER: admin
            MYSQL_PASSWORD: P@ssw0rd
        networks:
            - wordpress-network
    wordpress:
        depends_on:
            - db
        image: wordpress:latest
        container_name: wordpress
        restart: always
        volumes:
            - ./wordpress_data:/var/www/html
        ports:
            - "80:80"
        environment:
            WORDPRESS_DB_HOST: db
            WORDPRESS_DB_USER: admin
            WORDPRESS_DB_PASSWORD: P@ssw0rd
            WORDPRESS_DB_NAME: mysqldb
        networks:
            - wordpress-network
networks:
    wordpress-network:
        driver: bridge